.instagram-inner {
  padding: 120px 110px;
}
.instagram-inner-title {
  @include fontFWSC("Montserrat", 400, 40px, #f5f0ec);
  letter-spacing: -2px;
  span {
    @include fontFWSCL("Montserrat", 500, 40px, #f5f0ec, 120%);
  }
}
.instagram-inner-right {
  max-width: 170px;
  p {
    @include fontFWSCL("Inter", 400, 16px, #f5f0ec, 150%);
  }
  a {
    background-color: #1b5b31;
    color: #f5f0ec;
    border: 1px #f5f0ec solid;
    border-radius: 200px;
    padding: 12px 24px;
    transition: all 0.2s ease 0s;

    &:hover {
      text-decoration: none;
      background-color: #f5f0ec;
      color: #1b5b31;
    }
  }
}
